body {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex: 1 0 0;
}

#drawing-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#settings {
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    padding: 0 20px;
    align-self: flex-end;
    border-radius: 5px;
}

#settings h3 {
    margin: 0;
}

#gridDimSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#drawing-area {
    width: 500px;
    height: 500px;
    border: 2px solid gray;
    border-radius: 5px;
}

.toggleable {
    width: 130px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
}

#pixelColor {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 75px;
    height: 75px;
    border: none;
    cursor: pointer;
}

#pixelColor::-webkit-color-swatch {
  border-radius: 50%;
  border: none;
}
#pixelColor::-moz-color-swatch {
  border-radius: 50%;
  border: none;
}

#drawing-area {
    display: flex;
    flex-direction: column;
}

.tile-row {
    display: flex;
    flex: 1 1 0;
    border: none;
}

.tile {
    flex: 1 1 0;
}

/* 
 * gridlines
 * active button
 * button hover
 * button
 *
 *
 */

.darkmode {
    background-color: #333333;
    color: whitesmoke;
}

.lightmode {
 background-color: #fff;
}

 .lightmode .gridlines .tile {
    border: 1px solid #778899;
 }

 .darkmode .gridlines .tile {
    border: 1px solid whitesmoke;
 }

 .nogridlines {
    border: none;
 }

 .lightmode .toggleable {
    color: black;
    border-color: #333333;
 }

 .darkmode .toggleable {
    color: white;
    border-color: whitesmoke;
 }

 .lightmode .toggleable:hover {
    background-color: #778899;
    color: white;
 }

 .darkmode .toggleable:hover {
    background-color: #778899;
    color: black;
 }

 .lightmode .activeColorMode {
    color: white;
    background-color: #333333;
 }

 .darkmode .activeColorMode {
    color: black;
    background-color: whitesmoke;
 }


